<!-- Model Loading Indicator -->
<div id="modelStatusContainer" class="text-center mb-3">
    <span id="modelStatusDot" style="color: red;">●</span>
    <span id="modelStatusText">Loading Model...</span> 
    
</div>