<div id="progContainer" class="d-none">
    <svg class="progress-ring" width="80" height="80">
        <circle class="progress-ring-bg" cx="40" cy="40" r="30" stroke-width="5" />
        <circle class="progress-ring-circle" cx="40" cy="40" r="30" stroke-width="5" stroke-linecap="round" />
    </svg>
     <div id="progPercentage" class="progress-text"></div>
  </div>