
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include("partials/headerFiles") %>
    
</head>
<body class="d-flex justify-content-center align-items-center vh-100 login">
    
    <div class="card shadow p-4 rounded login-card">
        <h3 class="text-center mb-4">Login</h3>
        <form autocomplete="off" action="/login" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" autocomplete="off" class="form-control" id="email" name="email" placeholder="Enter your email" required readonly onfocus="this.removeAttribute('readonly');">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" autocomplete="off" class="form-control" id="password" name="password" placeholder="Enter your password" required readonly onfocus="this.removeAttribute('readonly');">
            </div>
            <button type="submit" class="btn btn-primary w-100" style="background-color: #4285F4;">Login</button>
        </form>
        <hr>
        <a class="google-btn" href="/auth/google" role="button">
            <img src="./images/g-logo.png" alt="Google Logo">
            Sign in with Google
        </a>
        <div class="text-center mt-3">
            <small>Don't have an account? <a href="/signup" class="text-primary">Sign Up</a></small><br>
            <small>Need to go back? <a href="/" class="text-primary">Home</a></small>
        </div>
        
    </div>
    
    <%- include("partials/codeFiles") %>
</body>
</html>
