<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <%- include("partials/headerFiles") %>
</head>
<body>
    
    <%- include("partials/navBar") %>
    <div class="container-sm mt-5">
       


        <!-- <header class="text-center mb-5">
            <h1 class="display-4">Settings</h1>
        </header> -->
        <h1 class="text-center mb-4">Settings</h1>


       

        
    </div>
    <%- include("partials/footer") %>
    <%- include("partials/codeFiles") %>
    
    
</body>
</html>